# @package _global_

defaults:
  - _self_
  - data: mushroom # choose datamodule with `test_dataloader()` for evaluation
  - model: resnet50
  - logger: wandb
  - trainer: default
  - paths: default
  - extras: default
  - hydra: default

task_name: "eval"

tags: ["dev"]

# passing checkpoint path is necessary for evaluation
ckpt_path: ???
